<nav-bar></nav-bar>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking.com Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <section id="create-accomm" class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Create an accommodation</h2>
                <form id="createAccommForm" [formGroup]="accommForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="name" class="form-control" [(ngModel)]="accommodation.name"
                        formControlName="name" placeholder="Enter name" required>
                            <div *ngIf="accommForm.controls['name'].errors?.['required'] && submitted" style="color:red;">
                            Please enter a Name!
                          </div>
                    </div>
                    <div class="form-group">
                        <label for="location">Location:</label>
                        <input type="location" class="form-control" [(ngModel)]="accommodation.location"
                        formControlName="location" placeholder="Enter location" required>
                        <div *ngIf="accommForm.controls['location'].errors?.['required'] && submitted" style="color:red;">
                            Please enter a Location!
                          </div>
                    </div>
                    <div class="form-group">
                        <label for="benefits">Benefits:</label>
                        <textarea type="text-field" class="form-control" [(ngModel)]="accommodation.benefits"
                        formControlName="benefits" placeholder="Enter benefits"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="minCapacity">Minimum capacity:</label>
                        <input type="number" class="form-control" [(ngModel)]="accommodation.minCapacity"
                        formControlName="minCapacity" placeholder="Enter minimum capacity" required>
                        <div *ngIf="accommForm.controls['minCapacity'].errors?.['min'] && submitted" style="color:red;">
                            Minimum capacity can't be below 1!
                          </div>
                    </div>
                    <div class="form-group">
                        <label for="maxCapacity">Maximum capacity:</label>
                        <input type="number" class="form-control" [(ngModel)]="accommodation.maxCapacity"
                        formControlName="maxCapacity" placeholder="Enter maximum capacity" required>
                        <div *ngIf="(accommodation.maxCapacity < accommodation.minCapacity) && submitted" style="color:red;">
                            Maximum capacity can't be below minimum capacity!
                          </div>
                    </div>
                    <div class="form-group">
                      <label for="price">Price:</label>
                      <input type="number" class="form-control" [(ngModel)]="accommodation.price"
                      formControlName="price" placeholder="Enter price" required>
                      <div *ngIf="(accommodation.price < 0) && submitted" style="color: red;">
                        Price can't be negative!
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="discPrice">Discounted price:</label>
                      <input type="number" class="form-control" [(ngModel)]="accommodation.discPrice"
                             formControlName="discPrice" placeholder="Enter discounted price">
                      <div *ngIf="(accommodation.discPrice < 0) && submitted" style="color: red;">
                        Price can't be negative!
                      </div>
                    </div>
                    <div class="form-group"> <!--verovatno neispravno, treba konverzija is JS "Date" formata u Go "Time" format-->
                      <label for="discDateStart">Discount start date:</label>
                      <input type="date" class="form-control" [(ngModel)]="accommodation.discDateStart"
                             formControlName="discDateStart">
                    </div>
                    <div class="form-group"> <!--verovatno neispravno, treba konverzija is JS "Date" formata u Go "Time" format-->
                      <label for="discDateEnd">Discount end date:</label>
                      <input type="date" class="form-control" [(ngModel)]="accommodation.discDateEnd"
                             formControlName="discDateEnd">
                      <div *ngIf="(accommodation.discDateStart.getTime()<accommodation.discDateEnd.getTime()) && submitted" style="color: red;">
                        Start date can't be after end date!
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="payPer">Select payment method:</label>
                      <select [(ngModel)]="accommodation.payPer" class="form-control" formControlName="payPer">
                        <option ngValue="0">Per accommodation</option> <!--nisam siguran da li se ovako dobija vrednost iz selecta-->
                        <option ngValue="1">Per guest</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="discWeekend">Discounted price on weekends?:</label>
                      <input type="checkbox" class="form-control" [(ngModel)]="accommodation.discWeekend" formControlName="discWeekend">
                      <!--ne znam da li  checkbox automatski prosledjuje true/false-->
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Create</button>
                </form>
            </div>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
