<nav-bar></nav-bar>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Login Section -->
    <section id="login" class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Enter your accounts email to receive a recovery code</h2>
                <form id="newPasswordForm">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input [disabled]="isEmailDisabled" type="email" class="form-control" id="email" placeholder="Enter your email address" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit email</button>
                    <br>
                    <br>
                    <div class="form-group">
                        <label for="code">Code:</label>
                        <input [disabled]="isCodeDisabled" type="code" class="form-control" id="code" placeholder="Enter the code from email" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit code</button>
                    <br>
                    <br>
                    <div class="form-group">
                        <label for="password">New password:</label>
                        <input [disabled]="isPassDisabled" type="password" class="form-control" id="password" placeholder="Enter new password" required>
                    </div>
                    <div class="form-group">
                        <label for="repPassword">Repeat new password:</label>
                        <input [disabled]="isPassDisabled" type="password" class="form-control" id="repPassword" placeholder="Repeat new password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit new password</button>
                </form>
            </div>
        </div>
    </section>
 
    <!-- Bootstrap & jQuery JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
