<nav-bar></nav-bar>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Accommodation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <section id="create-accomm" class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">{{accomm.name}}</h2>
                    <div class="form-group">
                        <label for="name">Location:</label>
                        <p>{{accomm.location}}
                    </div>
                    <div class="form-group">
                        <label for="benefits">Benefits:</label>
                        <p>{{accomm.benefits}}</p>
                    </div>
                    <div class="form-group">
                        <label for="minCapacity">Capacity:</label>
                        <p>{{accomm.minCapacity}} - {{accomm.maxCapacity}} people</p>
                    </div>
                    <div *ngIf="price > 0">
                        <div class="form-group">
                            <label for="minCapacity">Price:</label>
                            <p>{{accomm.price}} dollars per day {{accomm.payPer}}</p>
                        </div>
                    </div>
                    <div *ngIf="price == 0 && this.authService.userHasEmail(this.accomm.Owner)">
                    <div class="form-group">
                        <label for="price">Price:</label>
                        <input type="number" class="form-control" [(ngModel)]="accomm.price"
                        name="price" placeholder="Enter price" required>
                        <div *ngIf="(accomm.price < 0) && submitted" style="color: red;">
                          Price can't be negative!
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="payPer">Select payment method:</label>
                        <select [(ngModel)]="accomm.payPer" class="form-control" name="payPer">
                          <option value="" selected>Not per guest</option>
                          <option value="per guest">Per guest</option>
                        </select>
                      </div>
                      <button (click)="addPrice()" class="btn btn-primary w-100">Add price</button>
                    </div>
                    <!-- <div *ngIf="accomm.price > 0 && this.authService.userHasEmail(accomm.Owner)">
                            Implement daterange inputs for accommodation unavailability and price changes here
                            (or in another component, I don't know)
                    </div> -->
                </div>
                <h3>Reservations for this home</h3>
                <div *ngFor="let res of reservations">
                    <p>from {{ res.startDate }} - {{ res.endDate }} </p>
                    <p *ngIf="this.authService.userHasEmail(accomm.Owner) || this.authService.userHasEmail(res.guestEmail)">
                        {{ res.guestEmail }} - {{ res.numOfPeople }} people - {{ res.price }} dollars
                    </p>
                </div>
            </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
