<nav-bar></nav-bar>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Accommodation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <section id="create-accomm" class="container mt-5">
        <div class="row justify-content-center">
            <div class="kolona1">
                <h2 id="acoomNameTxt">{{accomm.name}}</h2>
                <img id="img" src="https://www.markbuyshousesal.com/app/themes/carrot/assets/images/property-placeholder.png" />

                <div class="accommInfoBox">
                    <i class="fas fa-location-dot" style="font-size: 20px;"></i>Location
                    <p>{{accomm.location}}</p>
                    
                    <i class="fas fa-thumbs-up" style="font-size: 20px;"></i>Benefits
                    <p>{{accomm.benefits}}</p>
                    
                    <i class="fas fa-bed" style="font-size: 20px;"></i>Guest capacity
                    <p> {{accomm.minCapacity}} - {{accomm.maxCapacity}} people</p>

                    <div *ngIf="price > 0">
                        <div class="form-group">
                            <i class="fas fa-dollar-sign" style="font-size: 20px;"></i>
                            <label for="minCapacity">Price</label>
                            <p *ngIf="loadedPrice">{{accomm.price}} dollars per day {{accomm.payPer}}</p>
                        </div>
                    </div>

                    <i class="fas fa-envelope" style="font-size: 20px;"></i>Host Contact E-mail
                    <p>{{accomm.Owner}} </p>
                    <button *ngIf="this.authService.userHasEmail(this.accomm.Owner)" class="btn btn-primary w-100"
                        (click)="edit(this.accomm.id)">
                        Edit
                    </button>
                    <hr>
                </div>


                <div *ngIf="price == 0 && this.authService.userHasEmail(this.accomm.Owner)">
                    <div class="form-group">
                        <label for="price">Price:</label>
                        <input type="number" class="form-control" [(ngModel)]="accomm.price" name="price"
                            placeholder="Enter price" required>
                        <div *ngIf="(accomm.price < 0) && submitted" style="color: red;">
                            Price can't be negative!
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="payPer">Select payment method:</label>
                        <select [(ngModel)]="accomm.payPer" class="form-control" name="payPer">
                            <option value="" selected>Per day</option>
                            <option value="per guest">Per guest</option>
                        </select>
                    </div>
                    <button (click)="addPrice()" class="btn btn-primary w-100">Add price</button>
                </div>

                <div *ngIf="this.authService.userHasRole('GUEST') && price > 0" class="startEndDatesBox">
                    <h4>Select wanted dates</h4>
                    <div class="form-group">
                        <label for="date">Start date:</label>
                        <input [disabled]="submitted" type="date" class="form-control "
                            [(ngModel)]="reservation.startDate" />
                    </div>
                    <div class="form-group">
                        <label for="date">End date:</label>
                        <input [disabled]="submitted" type="date" class="form-control "
                            [(ngModel)]="reservation.endDate" />
                    </div>
                    <div class="form-group">
                        <label for="numOfGuests">Number of guests:</label>
                        <input [disabled]="submitted" type="number" class="form-control "
                            [(ngModel)]="reservation.numOfPeople" />
                    </div>
                    <button class="btn btn-primary w-100" (click)="checkPrice()">
                        Check the price for your stay
                    </button>
                    <br>
                    <br>
                    <h4>{{priceMessage}}</h4>
                    <h4>{{additionalPriceMessage}}</h4>
                    <br>
                    <button *ngIf="submitted" class="btn btn-primary w-100" (click)="makeReservation()">
                        Book
                    </button>
                </div>
                <!-- <div *ngIf="accomm.price > 0 && this.authService.userHasEmail(accomm.Owner)">
                            Implement daterange inputs for accommodation unavailability and price changes here
                            (or in another component, I don't know)
                    </div> -->
            </div>

            <div class="kolona2">
                <div class="availability-box">
                    <h3>Availability for this home</h3>
                    <div *ngFor="let av of availabilities">
                        <table>
                            <tr>
                                <th>Start date</th>
                                <th>End date</th>
                            </tr>
                            <tr>
                                <td>{{ av.startDate.toString().slice(0,10) }}</td>
                                <td>{{ av.endDate.toString().slice(0,10) }}</td>
                            </tr>
                        </table>
                        <div *ngIf="this.authService.userHasEmail(accomm.Owner)">
                            <button (click)="deleteAvailability(av)" class="btn btn-primary w-100">Delete Availability</button>
                        </div>
                    </div>
                    <hr>
                </div>
                
                <div class="reservations-box">
                    <h3>Reservations Dates for this home</h3>
                    <div *ngFor="let res of reservations" class="singleReservationBox">
                        <p><b>FROM</b> {{ res.startDate.toString().slice(0,10) }} <b>TO</b> {{ res.endDate.toString().slice(0,10) }}</p>
                        <!-- <p><b>Reservation Info</b></p> -->
                        <p
                            *ngIf="this.authService.userHasEmail(accomm.Owner) || this.authService.userHasEmail(res.guestEmail)">
                            <b>Reservation User:</b> {{ res.guestEmail }}
                            <br>
                            <b>For:</b> {{ res.numOfPeople }} people
                            <br>
                            <b>Price:</b> ${{ res.price }}
                        </p>
                    </div>
                    <hr>
                </div>

                <div class="priceChanges-box">
                    <h3>Price changes for this home</h3>
                    <div *ngFor="let pv of priceVariations">
                        <br>
                        <p><b>FROM</b> {{ pv.startDate.toString().slice(0,10) }} <b>TO</b> {{ pv.endDate.toString().slice(0,10) }}
                            increase of {{ pv.percentage }}%</p>
                        <div *ngIf="this.authService.userHasEmail(accomm.Owner)">
                            <button (click)="deletePriceVariation(pv)" class="btn btn-primary w-100">Delete Price Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>