<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search accommodation</title>
</head>

<body>
    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="booking-form">
                        <div class="booking-bg">
                            <div class="form-header">
                                <h2>Make your reservation</h2>
                                <p>Please fill in all the fields to see accommodation availability.</p>
                            </div>
                        </div>
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Check In Date</span>
                                        <input class="form-control" type="date"
                                        [(ngModel)]="availability.startDate"
                                        [ngModelOptions]="{standalone: true}" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Check Out Date</span>
                                        <input class="form-control" type="date"
                                        [(ngModel)]="availability.endDate"
                                        [ngModelOptions]="{standalone: true}" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">How many guests</span>
                                        <input type="number" class="form-control" [(ngModel)]="availability.minCapacity"
                                        [ngModelOptions]="{standalone: true}"
                                        placeholder="Enter number of guests for travel" required>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="form-label">Location</span>
                                <select class="form-control" [(ngModel)]="availability.location"
                                [ngModelOptions]="{standalone: true}"
                                 required>
                                    <option value selected hidden>Select accommodation location</option>
                                    <option value="Belgrade" selected>Belgrade</option>
                                    <option value="Novi Sad">Novi Sad</option>
                                    <option value="Nis">Nis</option>
                                    <option value="London">London</option>
                                    <option value="Frankfurt">Frankfurt</option>
                                    <option value="Istanbul">Istanbul</option>
                                    <option value="Rome">Rome</option>
                                    <option value="Paris">Paris</option>
                                </select>
                                <span class="select-arrow"></span>
                            </div>
                            <div class="form-btn">
                                <button type="submit" (click)="search()" class="btn btn-primary">Check availability</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="accomms-frame">
                <div *ngFor="let accomm of accommodations" class="accomm-card">
                    <div class="card" (click)="goTo(accomm)">
                        <img
                            src="https://www.markbuyshousesal.com/app/themes/carrot/assets/images/property-placeholder.png" />
                        <h4>{{accomm.name}}</h4>
                        <hr>
                        <p><i class="fas fa-location-dot" style="font-size: 15px;margin-right: 2px;"></i>{{accomm.location}}</p>
                        <p><i class="fas fa-bed" style="font-size: 15px;margin-right: 2px;"></i>{{accomm.maxCapacity}} people</p>
                    </div>
                </div>
            </div>
            <div class="accomms-frame">
                <div *ngFor="let av of availabilities" class="accomm-card">
                    <div class="card" (click)="goToAvailable(av)">
                        <img
                            src="https://www.markbuyshousesal.com/app/themes/carrot/assets/images/property-placeholder.png" />
                        <h4>{{av.name}}</h4>
                        <p>{{av.location}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</html>