.container{
    margin-top: 20px;
    padding: 25px;
    background-color: #f3f3f3;
    /* border: solid red 2px; */
}

.form-btn{
    margin-top: 10px;
}

/* accomm list css below*/
.accomm-card {
    width: 25%;
    display: inline-block;
    margin: auto;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.accomms-frame {
    padding: 20px;
}
